<div class="panel panel-default" ng-repeat="pool in poolCtrl.pools | orderBy : 'name'" ng-class="pool.isok ? 'panel-default' : 'panel-warning'" >
	<div class="panel-heading" >
		<div class="row">
			<div class="col-md-12">
				<h3> {{ pool.name | uppercase}} </h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<strong>Size:</strong> {{ pool.size | bytes}}
			</div>
			<div class="col-md-2">
				<strong>State:</strong> <span class="label label-success">{{ pool.state | uppercase }}</span>
			</div>
			<div class="col-md-2">
				<strong>Status:</strong> <span class="label label-success">{{ pool.status | uppercase }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="progress" style="margin-top: 10px; margin-bottom: 10px;">
					<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{pool.capacity}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pool.capacity}}%">
				     <div class="pull-left">&nbsp;&nbsp;</div><strong>Used:</strong> {{ pool.allocated | bytes}}
				  </div>
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pool.capacity}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100 - pool.capacity}}%">
						<strong>Free:</strong> {{ pool.free | bytes}}
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="panel-body">
		<strong>Devices (VDEV's):</strong>
	</div>
	<table class="table table-striped table-responsive" ng-repeat="vdev in pool.config.vdevs">
		<tr>
			<th>
				<span class="label label-default">{{vdev.type | uppercase }} {{vdev.nparity}}</span>
			</th>
		</tr>
		<tr ng-repeat="device in vdev.children">
			<td>
				<div class="row">
					<div class="col-md-1">
						<div class="pull-right"><i class="fa fa-hdd-o fa-lg"></i></div>
					</div>
					<div class="col-md-11">
						{{device.path}}
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
