<div class="panel panel-default" ng-repeat="pool in poolCtrl.pools | orderBy : 'name'" ng-class="pool.isok ? 'panel-default' : 'panel-warning'" >
	<div class="panel-heading" >
		<div class="row">
			<div class="col-md-12">
				<h4> {{ pool.name | uppercase}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<strong>Size:</strong> {{ pool.size | bytes}}
			</div>
			<div class="col-md-3">
				<strong>GUID: </strong>{{ pool.config.guid }}
			</div>
			<div class="col-md-3" style="text-align: center;">
				<strong>State:</strong> <span class="label label-success">{{ pool.state | uppercase }}</span>
			</div>
			<div class="col-md-3" style="text-align: center;">
				<strong>Status:</strong> <span class="label label-success">{{ pool.status | uppercase }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="progress" style="margin-top: 10px; margin-bottom: 10px;">
					<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{pool.capacity}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pool.capacity}}%">
				     <div class="pull-left">&nbsp;&nbsp;</div><strong>Used:</strong> {{ pool.allocated | bytes}}
				  </div>
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{pool.capacity}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100 - pool.capacity}}%">
						<strong>Free:</strong> {{ pool.free | bytes}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<table class="table table-striped table-responsive table-condensed table-bordered" ng-show="pool.config.scrub.state != 'none requested'">
			<thead>
				<th>Scrub:</th>
				<th>Started:</th>
				<th>Runtime:</th>
				<th ng-show="pool.config.scrub.end_time > 0">Finish:</th>

				<th>Scanned:</th>
				<th>Total:</th>

				<th>Errors:</th>
		</thead>
		<tbody>
			<tr class="{{pool.config.scrub.state | scrub_state_to_class}}">
				<td>{{pool.config.scrub.state | scrub_state_to_text}}</td>

				<td>{{pool.config.scrub.start_time * 1000 | date : 'medium'}}</td>
				<td>{{pool.config.scrub.elapsed | time_to_text}}</td>
				<td ng-show="pool.config.scrub.end_time > 0">{{ pool.config.scrub.end_time * 1000 | date : 'medium' }}</td>

				<td>{{pool.config.scrub.examined | bytes}}</td>
				<td>{{pool.config.scrub.to_examine | bytes}}</td>

				<td ng-show="pool.config.scrub.errors > 0">
					<font color="red">{{pool.config.scrub.errors }}</font>
				</td>
				<td ng-hide="pool.config.scrub.errors > 0">
					{{pool.config.scrub.errors }}
				</td>
			</tr>
		</tbody>
	</table>
	<div class="panel-body">
		VDEV's:
	</div>
	<table class="table table-striped table-responsive table-condensed table-bordered" ng-repeat="vdev in pool.config.vdevs">
		<tr>
			<thead>
				<!-- Parity -->
				<th class="col-md-2">
					<label class="label label-success">{{vdev.type | uppercase }} {{vdev.nparity}}</label>
				</th>
				<!-- Path -->
				<th class="col-md-3">
					Path
				</th>
				<!-- State -->
				<th class="col-md-1">
					<span class="label label-success">{{vdev.vdev_stats.state.name | vdev_state_to_text}}</span>
				</th>
				<!-- Stats -->
				<th class="col-md-2">
					<abbr title="Read Errors">{{vdev.vdev_stats.read_errors}}</abbr>
				</th>
				<th class="col-md-2">
					<abbr title="Write Errors">{{vdev.vdev_stats.write_errors}}</abbr>
				</th>
				<th class="col-md-2">
					<abbr title="Checksum Errors">{{vdev.vdev_stats.checksum_errors}}</abbr>
				</th>
			</thead>
		</tr>
		<tr ng-repeat="device in vdev.children">
			<td class="col-md-2"><sub>└</sub> <i class="fa fa-hdd-o fa-lg"></i></td>
			<td class="col-md-3"><abbr title="{{device.path}}">{{device.name}}</abbr></td>
			<td class="col-md-1"><sub>└</sub> <span class="label label-success">{{device.vdev_stats.state.name | vdev_state_to_text}}</span></td>
			<td class="col-md-2"><abbr title="Read Errors">{{device.vdev_stats.read_errors}}</abbr></td>
			<td class="col-md-2"><abbr title="Write Errors">{{device.vdev_stats.write_errors}}</abbr></td>
			<td class="col-md-2"><abbr title="Checksum Errors">{{device.vdev_stats.checksum_errors}}</abbr></td>
		</tr>
	</table>
</div>
